In [56]:
import pandas as pd

In [57]:
df = pd.read_excel('../data/classification/alizadeh.xlsx')

In [59]:
df.head()

,Age,Weight,Length,Sex,BMI,DM,HTN,Current Smoker,EX-Smoker,FH,...,Lymph,Neut,PLT,EF-TTE,Region RWMA,VHD,LAD,LCX,RCA,Cath
0,53,90,175,Male,29.387755,0,1,1,0,0,...,39,52,261,50,0,N,Stenotic,Normal,Stenotic,CAD
1,67,70,157,Fmale,28.398718,0,1,0,0,0,...,38,55,165,40,4,N,Stenotic,Stenotic,Normal,CAD
2,54,54,164,Male,20.077335,0,0,1,0,0,...,38,60,230,40,2,mild,Stenotic,Normal,Normal,CAD
3,66,67,158,Fmale,26.838648,0,1,0,0,0,...,18,72,742,55,0,Severe,Normal,Normal,Normal,Normal
4,50,87,153,Fmale,37.165193,0,1,0,0,0,...,55,39,274,50,0,Severe,Normal,Normal,Normal,Normal

In [60]:
df.isnull().sum()

Age                      0
Weight                   0
Length                   0
Sex                      0
BMI                      0
DM                       0
HTN                      0
Current Smoker           0
EX-Smoker                0
FH                       0
Obesity                  0
CRF                      0
CVA                      0
Airway disease           0
Thyroid Disease          0
CHF                      0
DLP                      0
BP                       0
PR                       0
Edema                    0
Weak Peripheral Pulse    0
Lung rales               0
Systolic Murmur          0
Diastolic Murmur         0
Typical Chest Pain       0
Dyspnea                  0
Function Class           0
Atypical                 0
Nonanginal               0
Exertional CP            0
LowTH Ang                0
Q Wave                   0
St Elevation             0
St Depression            0
Tinversion               0
LVH                      0
Poor R Progression       0
BBB                      0
FBS                      0
CR                       0
TG                       0
LDL                      0
HDL                      0
BUN                      0
ESR                      0
HB                       0
K                        0
Na                       0
WBC                      0
Lymph                    0
Neut                     0
PLT                      0
EF-TTE                   0
Region RWMA              0
VHD                      0
LAD                      0
LCX                      0
RCA                      0
Cath                     0
dtype: int64

In [34]:
# Заполнение не требуется

In [62]:
mapping_sex= {'Male':1,'Fmale':2}
df['Sex'] = df['Sex'].map(mapping_sex)

mapping_yes_no = {'N':0,'Y':1}
df['Obesity'] = df['Obesity'].map(mapping_yes_no)
df['CRF'] = df['CRF'].map(mapping_yes_no)
df['CVA'] = df['CVA'].map(mapping_yes_no)
df['Airway disease'] = df['Airway disease'].map(mapping_yes_no)
df['Thyroid Disease'] = df['Thyroid Disease'].map(mapping_yes_no)
df['CHF'] = df['CHF'].map(mapping_yes_no)
df['DLP'] = df['DLP'].map(mapping_yes_no)
df['Weak Peripheral Pulse'] = df['Weak Peripheral Pulse'].map(mapping_yes_no)
df['Lung rales'] = df['Lung rales'].map(mapping_yes_no)
df['Systolic Murmur'] = df['Systolic Murmur'].map(mapping_yes_no)
df['Diastolic Murmur'] = df['Diastolic Murmur'].map(mapping_yes_no)
df['Dyspnea'] = df['Dyspnea'].map(mapping_yes_no)
df['Atypical'] = df['Atypical'].map(mapping_yes_no)
df['Nonanginal'] = df['Nonanginal'].map(mapping_yes_no)
df['Exertional CP'] = df['Exertional CP'].map(mapping_yes_no)
df['LowTH Ang'] = df['LowTH Ang'].map(mapping_yes_no)
df['LVH'] = df['LVH'].map(mapping_yes_no)
df['Poor R Progression'] = df['Poor R Progression'].map(mapping_yes_no)

mapping_BBB = {'N':0,'LBBB':1,'RBBB':2}
df['BBB'] = df['BBB'].map(mapping_BBB)

mapping_VHD = {'mild':0,'Moderate':1,'N':2,'Severe':3}
df['VHD'] = df['VHD'].map(mapping_VHD)

mapping_normal_stenotic = {'Normal':0,'Stenotic':1}
df['LAD'] = df['LAD'].map(mapping_normal_stenotic)
df['LCX'] = df['LCX'].map(mapping_normal_stenotic)
df['RCA'] = df['RCA'].map(mapping_normal_stenotic)

mapping_cath = {'CAD':0,'Normal':1}
df['Cath'] = df['Cath'].map(mapping_cath)

In [64]:
pd.get_dummies(df).to_csv("../data/classification/alizadeh_preprocessed.csv", index_label = False)

In [65]:
df1 = pd.read_csv("../data/classification/alizadeh_preprocessed.csv", sep=',')
df1.head()

,Age,Weight,Length,Sex,BMI,DM,HTN,Current Smoker,EX-Smoker,FH,...,Lymph,Neut,PLT,EF-TTE,Region RWMA,VHD,LAD,LCX,RCA,Cath
0,53,90,175,NaN,29.387755,0,1,1,0,0,...,39,52,261,50,0,NaN,NaN,NaN,NaN,NaN
1,67,70,157,NaN,28.398718,0,1,0,0,0,...,38,55,165,40,4,NaN,NaN,NaN,NaN,NaN
2,54,54,164,NaN,20.077335,0,0,1,0,0,...,38,60,230,40,2,NaN,NaN,NaN,NaN,NaN
3,66,67,158,NaN,26.838648,0,1,0,0,0,...,18,72,742,55,0,NaN,NaN,NaN,NaN,NaN
4,50,87,153,NaN,37.165193,0,1,0,0,0,...,55,39,274,50,0,NaN,NaN,NaN,NaN,NaN