In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("../data/regression/facebook.csv", sep=';')

In [15]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [17]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [18]:
df['Paid'].fillna(0, inplace=True)
df['like'].fillna(df['like'].median(), inplace=True)
df['share'].fillna(df['share'].mean(), inplace=True)

In [19]:
df['Paid'] = df.Paid.astype(int)
df['like'] = df.like.astype(int)
df['share'] = df.share.astype(int)

In [21]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total Interactions                                                     0
dtype: int64

In [22]:
df.mean()

Page total likes                                                       123194.176
Category                                                                    1.880
Post Month                                                                  7.038
Post Weekday                                                                4.150
Post Hour                                                                   7.840
Paid                                                                        0.278
Lifetime Post Total Reach                                               13903.360
Lifetime Post Total Impressions                                         29585.948
Lifetime Engaged Users                                                    920.344
Lifetime Post Consumers                                                   798.772
Lifetime Post Consumptions                                               1415.130
Lifetime Post Impressions by people who have liked your Page            16766.376
Lifetime Post reach by people who like your Page                         6585.488
Lifetime People who have liked your Page and engaged with your post       609.986
comment                                                                     7.482
like                                                                      177.792
share                                                                      27.264
Total Interactions                                                        212.120
dtype: float64

In [23]:
df.dropna()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79,17,100
1,139441,Status,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130,29,164
2,139441,Photo,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66,14,80
3,139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572,147,1777
4,139441,Photo,2,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325,49,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0,4684,7536,733,708,985,4750,2876,392,5,53,26,84
496,81370,Photo,2,1,5,8,0,3480,6229,537,508,687,3961,2104,301,0,53,22,75
497,81370,Photo,1,1,5,2,0,3778,7216,625,572,795,4742,2388,363,4,93,18,115
498,81370,Photo,3,1,4,11,0,4156,7564,626,574,832,4534,2452,370,7,91,38,136
499,81370,Photo,2,1,4,4,0,4188,7292,564,524,743,3861,2200,316,0,91,28,119

In [24]:
pd.get_dummies(df, prefix='Type', columns=['Type'])

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,...,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,Type_Link,Type_Photo,Type_Status,Type_Video
0,139441,2,12,4,3,0,2752,5091,178,109,...,1640,119,4,79,17,100,0,1,0,0
1,139441,2,12,3,10,0,10460,19057,1457,1361,...,6112,1108,5,130,29,164,0,0,1,0
2,139441,3,12,3,3,0,2413,4373,177,113,...,1503,132,0,66,14,80,0,1,0,0
3,139441,2,12,2,10,1,50128,87991,2211,790,...,32048,1386,58,1572,147,1777,0,1,0,0
4,139441,2,12,2,3,0,7244,13594,671,410,...,3200,396,19,325,49,393,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,3,1,7,2,0,4684,7536,733,708,...,2876,392,5,53,26,84,0,1,0,0
496,81370,2,1,5,8,0,3480,6229,537,508,...,2104,301,0,53,22,75,0,1,0,0
497,81370,1,1,5,2,0,3778,7216,625,572,...,2388,363,4,93,18,115,0,1,0,0
498,81370,3,1,4,11,0,4156,7564,626,574,...,2452,370,7,91,38,136,0,1,0,0
499,81370,2,1,4,4,0,4188,7292,564,524,...,2200,316,0,91,28,119,0,1,0,0

In [9]:
pd.get_dummies(df)

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,...,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,Type_Link,Type_Photo,Type_Status,Type_Video
0,139441,2,12,4,3,0,2752,5091,178,109,...,1640,119,4,79,17,100,0,1,0,0
1,139441,2,12,3,10,0,10460,19057,1457,1361,...,6112,1108,5,130,29,164,0,0,1,0
2,139441,3,12,3,3,0,2413,4373,177,113,...,1503,132,0,66,14,80,0,1,0,0
3,139441,2,12,2,10,1,50128,87991,2211,790,...,32048,1386,58,1572,147,1777,0,1,0,0
4,139441,2,12,2,3,0,7244,13594,671,410,...,3200,396,19,325,49,393,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,3,1,7,2,0,4684,7536,733,708,...,2876,392,5,53,26,84,0,1,0,0
496,81370,2,1,5,8,0,3480,6229,537,508,...,2104,301,0,53,22,75,0,1,0,0
497,81370,1,1,5,2,0,3778,7216,625,572,...,2388,363,4,93,18,115,0,1,0,0
498,81370,3,1,4,11,0,4156,7564,626,574,...,2452,370,7,91,38,136,0,1,0,0
499,81370,2,1,4,4,0,4188,7292,564,524,...,2200,316,0,91,28,119,0,1,0,0

In [25]:
pd.get_dummies(df).to_csv("../data/regression/facebook_preprocessed.csv", index_label = False)

In [26]:
df1 = pd.read_csv("../data/regression/facebook_preprocessed.csv", sep=',')

In [27]:
df1.head()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,...,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,Type_Link,Type_Photo,Type_Status,Type_Video
0,139441,2,12,4,3,0,2752,5091,178,109,...,1640,119,4,79,17,100,0,1,0,0
1,139441,2,12,3,10,0,10460,19057,1457,1361,...,6112,1108,5,130,29,164,0,0,1,0
2,139441,3,12,3,3,0,2413,4373,177,113,...,1503,132,0,66,14,80,0,1,0,0
3,139441,2,12,2,10,1,50128,87991,2211,790,...,32048,1386,58,1572,147,1777,0,1,0,0
4,139441,2,12,2,3,0,7244,13594,671,410,...,3200,396,19,325,49,393,0,1,0,0