In [105]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet

In [106]:
df = pd.read_csv("../data/regression/facebook_preprocessed.csv")

In [107]:
df.head()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,...,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,Type_Link,Type_Photo,Type_Status,Type_Video
0,139441,2,12,4,3,0,2752,5091,178,109,...,1640,119,4,79,17,100,0,1,0,0
1,139441,2,12,3,10,0,10460,19057,1457,1361,...,6112,1108,5,130,29,164,0,0,1,0
2,139441,3,12,3,3,0,2413,4373,177,113,...,1503,132,0,66,14,80,0,1,0,0
3,139441,2,12,2,10,1,50128,87991,2211,790,...,32048,1386,58,1572,147,1777,0,1,0,0
4,139441,2,12,2,3,0,7244,13594,671,410,...,3200,396,19,325,49,393,0,1,0,0

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 22 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Category                                                             500 non-null    int64
 2   Post Month                                                           500 non-null    int64
 3   Post Weekday                                                         500 non-null    int64
 4   Post Hour                                                            500 non-null    int64
 5   Paid                                                                 500 non-null    int64
 6   Lifetime Post Total Reach                                            500 non-null    int64
 7   Lifetime Post Total Impressions                                      500 non-null    int64
 8   Lifetime Engaged Users                                               500 non-null    int64
 9   Lifetime Post Consumers                                              500 non-null    int64
 10  Lifetime Post Consumptions                                           500 non-null    int64
 11  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 12  Lifetime Post reach by people who like your Page                     500 non-null    int64
 13  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 14  comment                                                              500 non-null    int64
 15  like                                                                 500 non-null    int64
 16  share                                                                500 non-null    int64
 17  Total Interactions                                                   500 non-null    int64
 18  Type_Link                                                            500 non-null    int64
 19  Type_Photo                                                           500 non-null    int64
 20  Type_Status                                                          500 non-null    int64
 21  Type_Video                                                           500 non-null    int64
dtypes: int64(22)
memory usage: 89.8 KB

In [109]:
y = df["Page total likes"]
y

0      139441
1      139441
2      139441
3      139441
4      139441
        ...
495     85093
496     81370
497     81370
498     81370
499     81370
Name: Page total likes, Length: 500, dtype: int64

In [110]:
X = df[df.columns[2:]]
X

,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,Type_Link,Type_Photo,Type_Status,Type_Video
0,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79,17,100,0,1,0,0
1,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130,29,164,0,0,1,0
2,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66,14,80,0,1,0,0
3,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572,147,1777,0,1,0,0
4,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325,49,393,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1,7,2,0,4684,7536,733,708,985,4750,2876,392,5,53,26,84,0,1,0,0
496,1,5,8,0,3480,6229,537,508,687,3961,2104,301,0,53,22,75,0,1,0,0
497,1,5,2,0,3778,7216,625,572,795,4742,2388,363,4,93,18,115,0,1,0,0
498,1,4,11,0,4156,7564,626,574,832,4534,2452,370,7,91,38,136,0,1,0,0
499,1,4,4,0,4188,7292,564,524,743,3861,2200,316,0,91,28,119,0,1,0,0

# Разбиение выборки

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [127]:
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Линейная регрессия

In [128]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from math import sqrt

In [129]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred_lr = lr.predict(X_test)

In [130]:
print(r2_score(y_test, y_pred_lr))
print(mean_squared_error(y_test, y_pred_lr))
print(mean_squared_error(y_test, y_pred_lr, squared=False))
print(mean_absolute_error(y_test, y_pred_lr))

0.8719638501994211
28269905.295918714
5316.945109357319
4510.23584774169

# Регрессия дерева решений

In [131]:
dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)
y_pred_dtr = dtr.predict(X_test)

In [132]:
print(r2_score(y_test, y_pred_dtr))
print(mean_squared_error(y_test, y_pred_dtr))
print(mean_squared_error(y_test, y_pred_dtr, squared=False))
print(mean_absolute_error(y_test, y_pred_dtr))

0.9836939366171883
3600318.1
1897.4504209596623
1163.12

In [133]:
  dtr.get_params().keys()

dict_keys(['ccp_alpha', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'min_impurity_decrease', 'min_impurity_split', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'random_state', 'splitter'])

In [134]:
dtr_parameters_grid = {'criterion' : ['mse', 'friedman_mse', 'mae', 'poisson'],
                       'splitter' : ['best', 'random'],
                       'max_depth' : range(1, 11),                  
}

In [135]:
dtr_grid = GridSearchCV(dtr, dtr_parameters_grid, cv=5, n_jobs=-1, verbose=True)
dtr_grid.fit(X_train, y_train)
dtr_grid.best_params_

Fitting 5 folds for each of 80 candidates, totalling 400 fits

{'criterion': 'mse', 'max_depth': 4, 'splitter': 'best'}

In [136]:
dtr_g = DecisionTreeRegressor(criterion='mse', max_depth=4,splitter='best')
dtr_g.fit(X_train, y_train)
y_pred_dtr_g = dtr_g.predict(X_test)

In [137]:
print(r2_score(y_test, y_pred_dtr_g))
print(mean_squared_error(y_test, y_pred_dtr_g))
print(mean_squared_error(y_test, y_pred_dtr_g, squared=False))
print(mean_absolute_error(y_test, y_pred_dtr_g))

0.9919379959795437
1780060.4790803022
1334.1890717137142
935.4252421470346

# LASSO

In [138]:
lasso = Lasso(alpha=1.0, max_iter=10000)
lasso.fit(X_train, y_train)
y_pred_lasso = lasso.predict(X_test)

In [139]:
print(r2_score(y_test, y_pred_lasso))
print(mean_squared_error(y_test, y_pred_lasso))
print(mean_squared_error(y_test, y_pred_lasso, squared=False))
print(mean_absolute_error(y_test, y_pred_lasso))

0.8715395949789384
28363579.26942564
5325.746827387276
4515.732478224842

In [140]:
 lasso.get_params().keys()

dict_keys(['alpha', 'copy_X', 'fit_intercept', 'max_iter', 'normalize', 'positive', 'precompute', 'random_state', 'selection', 'tol', 'warm_start'])

In [141]:
lasso_parameters_grid = {'alpha' : np.arange(0.01, 1.0, 0.05),
                         'normalize' : [True, False],
                         'max_iter' : [10000],
                         'selection' : ['cyclic', 'random'],
                         'warm_start':[True, False]
                         }

In [142]:
lasso_grid = GridSearchCV(lasso, lasso_parameters_grid, cv = 5, n_jobs=-1, verbose=True)
lasso_grid.fit(X_train, y_train)
lasso_grid.best_params_

Fitting 5 folds for each of 160 candidates, totalling 800 fits

{'alpha': 0.9600000000000001,
 'max_iter': 10000,
 'normalize': True,
 'selection': 'random',
 'warm_start': False}

In [143]:
 lasso_g = Lasso(alpha= 0.96, max_iter=10000, normalize=True, selection='random', warm_start=True)
lasso_g.fit(X_train,y_train)
y_pred_lasso_g = lasso_g.predict(X_test)

In [144]:
print(r2_score(y_test, y_pred_lasso_g))
print(mean_squared_error(y_test, y_pred_lasso_g))
print(mean_squared_error(y_test, y_pred_lasso_g, squared=False))
print(mean_absolute_error(y_test, y_pred_lasso_g))

0.8684292019444857
29050342.473833274
5389.836961711669
4574.906665625533

# Гребневая регрессия

In [145]:
ridge = Ridge()
ridge.fit(X_train,y_train)
y_pred_ridge = ridge.predict(X_test)

In [146]:
print(r2_score(y_test, y_pred_ridge))
print(mean_squared_error(y_test, y_pred_ridge))
print(mean_squared_error(y_test, y_pred_ridge, squared=False))
print(mean_absolute_error(y_test, y_pred_ridge))

0.869622231353485
28786926.021056563
5365.344911658202
4551.419158688072

In [147]:
ridge.get_params().keys()

dict_keys(['alpha', 'copy_X', 'fit_intercept', 'max_iter', 'normalize', 'random_state', 'solver', 'tol'])

In [148]:
ridge_parameters_grid = {'alpha' : np.arange(0.01, 1.0, 0.05),
                         'max_iter' : [10000],
                         'solver' : ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga'],
                         'fit_intercept' : [True, False]
                         }

In [150]:
ridge_grid = GridSearchCV(ridge, ridge_parameters_grid, cv = 5, n_jobs=-1, verbose=True)
ridge_grid.fit(X_train, y_train)
ridge_grid.best_params_

Fitting 5 folds for each of 280 candidates, totalling 1400 fits

{'alpha': 0.9600000000000001,
 'fit_intercept': True,
 'max_iter': 10000,
 'solver': 'saga'}

In [151]:
ridge_g = Ridge(alpha=0.96, fit_intercept=True, max_iter=10000, solver='saga')
ridge_g.fit(X_train,y_train)
y_pred_ridge_g = ridge_g.predict(X_test)

In [152]:
print(r2_score(y_test, y_pred_ridge_g))
print(mean_squared_error(y_test, y_pred_ridge_g))
print(mean_squared_error(y_test, y_pred_ridge_g, squared=False))
print(mean_absolute_error(y_test, y_pred_ridge_g))

0.8702224364947592
28654402.959965054
5352.980754679121
4538.326039986799

# Elastic Net регрессия

In [153]:
en = ElasticNet()
en.fit(X_train, y_train)
y_pred_en = en.predict(X_test)

In [154]:
print(r2_score(y_test, y_pred_en))
print(mean_squared_error(y_test, y_pred_en))
print(mean_squared_error(y_test, y_pred_en, squared=False))
print(mean_absolute_error(y_test, y_pred_en))

0.8125722011003353
41383360.34759509
6432.990000582551
5043.913486432624

In [155]:
en.get_params().keys()

dict_keys(['alpha', 'copy_X', 'fit_intercept', 'l1_ratio', 'max_iter', 'normalize', 'positive', 'precompute', 'random_state', 'selection', 'tol', 'warm_start'])

In [156]:
en_parameters_grid = {'alpha' : np.arange(0.01, 1.0, 0.05),
                      'l1_ratio' : np.arange(0.1, 1.0, 0.1),
                      'max_iter' : [10000],
                      'fit_intercept' : [True, False],
                      'normalize' : [True, False],
                      'selection' : ['cyclic', 'random'],
                     }

In [157]:
en_grid = GridSearchCV(en, en_parameters_grid, cv = 5, n_jobs=-1, verbose=True)
en_grid.fit(X_train, y_train)
en_grid.best_params_

Fitting 5 folds for each of 1440 candidates, totalling 7200 fits

{'alpha': 0.81,
 'fit_intercept': True,
 'l1_ratio': 0.9,
 'max_iter': 10000,
 'normalize': False,
 'selection': 'cyclic'}

In [158]:
en_g = ElasticNet(alpha=0.81, fit_intercept=True, l1_ratio=0.9, max_iter=10000, normalize=False, selection='cyclic')
en_g.fit(X_train, y_train)
y_pred_en_g = en_g.predict(X_test)

In [159]:
print(r2_score(y_test, y_pred_en_g))
print(mean_squared_error(y_test, y_pred_en_g))
print(mean_squared_error(y_test, y_pred_en_g, squared=False))
print(mean_absolute_error(y_test, y_pred_en_g))

0.8775591616055098
27034481.36449255
5199.4693348929895
4380.067712987546